* {
    font-family: "Source Code Pro", monospace;
}

/* Pour faire le tableau */
table {
    border-collapse: collapse;
    margin : 15px 0;
    font-size: 1em;
    min-width: 60%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
table thead tr {
    background-color: rgb(70,7,73);
    color:#fff;
    text-align: left;
    font-weight: bold;
}
table td {
    padding: 2% 10%;

}
table tbody tr {
    border-bottom: 1px solid rgb(163, 163, 163);
}
table tbody tr:nth-of-type(even){
    background-color: rgba(255,255,255,0.3);
}
table tbody tr:last-of-type {
    border-bottom: 2px solid #fff;
}
table tbody tr .user {
    font-weight: bold;              /*Pour mettre en surbrillance la personne connecté */
    color: rgb(233, 149, 233);
}
/* fin du css du tableau */

/* centrage du tableau */
.tab {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.haut-tab{
    background-color: rgb(70,7,73);
    color:#fff;
    border-radius: 10px;
    font-size: 1em;
    padding: 0.25em;
    vertical-align:  center;
}

.haut-tab ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
button {
    width : 90% ;
    height : 60% ;
    border : none ;
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
    position: relative;
    background-color: rgb(70,7,73);
    z-index: 1;
    color : white ;
}
button:hover {
    color :#fff;
    cursor: pointer;
}
button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left : 50%;
    right : 50%;
    bottom : 0;
    opacity: 0 ;
    content:"";
    background-color:rgb(83, 10, 177) ;

}
button:hover:before{
    transition: 0.5s all ease;
    left : 0;
    right : 0;
    opacity: 1;
    z-index: -1;
}

